@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* ### Primary */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-very-dark-desaturate-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);
  /* ### Neutral */
  --clr-dark-gray: hsl(0, 0%, 59%);

  /* ### fonts */
  --fsz-bigger-font: 1.125rem;
  --ffm-kumbh-sans: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
  place-items: center;

  font-family: var(--ffm-kumbh-sans);
  font-weight: 400;
  color: var(--clr-dark-gray);

  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw),
    left calc(40vw + 25%) top calc(72vh - 10vw);
  background-repeat: no-repeat;
  background-color: var(--clr-dark-cyan);

  overflow-x: hidden;
}

.card {
  margin: 1rem 1.5rem;
  background-color: white;
  border-radius: 10px;  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
}

.card .card-background img {
  display: flex;
}

.card .card-profile-picture {
  width: 100%;
  height: 4.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;

}

.card .card-profile-picture img{
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  /* top: -50%; */
  top: -3.3125rem;
}

.card .card-profile-info {
  display: grid;
  place-items: center;
  line-height: 1.6;
  padding-bottom: 1.5rem;
  
}

.card .card-profile-info .info-name{  
  font-size: var(--fsz-bigger-font);
  color: var(--clr-very-dark-desaturate-blue);
}

.card .card-profile-info .info-name span{  
  font-weight: 700;
}

.card .card-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card .card-statistics .stats{  
  display: grid;
  place-items: center;
  line-height: 1.6;  
}

.card .card-statistics .stats span{  
  font-weight: 700;
  color: var(--clr-very-dark-desaturate-blue);
  font-size: var(--fsz-bigger-font);
}

.card .card-statistics .stats p{  
  font-size: .75rem;
  letter-spacing: 1px;
}